.store-body {
  color: #ddd;
  text-align: center;
  width: 100%;
}

.store-header {
  font-size: 20px;
  margin-bottom: 16px;
}

.store-subheader {
  padding-bottom: 16px;
}

.store-page {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.upg-button {
  padding: 12px 16px;

   & + .upg-button {
     border-top: 1px solid #888;
   }
}

.bottom-border {
  border-bottom: 2px solid #888;
}
